type oeminfo, domain;
type oeminfo_exec, exec_type, file_type;
init_daemon_domain(oeminfo)

# FIX-ME: violating neverallow, permissive instead
permissive oeminfo;
