allow qti_init_shell ctl_default_prop:property_service set;
allow qti_init_shell qmuxd_socket:dir { rw_file_perms create_file_perms search add_name };
allow qti_init_shell qmuxd_socket:sock_file create_file_perms;
allow qti_init_shell qmuxd:unix_stream_socket connectto;
