[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group dianlujitao
	push = +force group dianlujitao
	label-Code-Review = -2..+2 group dianlujitao
	label-Verified = -1..+1 group dianlujitao
	submit = group dianlujitao
	forgeAuthor = group dianlujitao
	forgeCommitter = group dianlujitao
